* {
    
    padding: 0;
    margin: 10;
}

body {
    background-color: rgb(75, 2, 107);
    background-image: url(./Assets/FONDO.png);
    background-repeat: repeat;
    color: whitesmoke;
    font-family: 'Gemunu Libre', "ocr a";
}

main {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "article aside"
        "article aside"
        "article aside"
        "article aside";
}

aside {
    grid-area: aside;
}


@media (min-width: 01px) and (max-width: 1100px) {
    main {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas:
            "article "
            "article "
            "article "
            "article "
            "aside";
    }
}

@media (min-width: 50%) and (max-width: 200%) {
    main {
        grid-template-columns: 60% 40%;
        grid-template-rows: auto auto;
        grid-template-areas:
            "article aside"
            "article aside"
            "article aside"
            "article aside";
    }
}


header {
    display: grid;
    grid-template-columns: 100%;
    background-color: darkorchid;
    padding: 20px;
    margin: 0px 10px 0px 10px;
    position: relative;

}

h1 {
    text-shadow: 3px 3px black;
    font-size: 1 rem;
    position: absolute;
    padding: 20px;
    bottom: 22%;
}

h2 {
    text-shadow: 3px 3px black;
}

.portadawbg {
    background-image: url(./Assets/PORTADA.png);
}

.titulowbg {
    position: initial;
    top: 70%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.form-login {
    background: rgba(147, 5, 69, 0.100);
    border-color: greenyellow;

}

.banner {
    width: 100%;
    height: 100%;
    min-width: 70%;
    max-width: 100%;
    min-height: 15rem;
    max-height: 101%;
    border: 3px solid darkorchid;
    margin: auto;

    background-size: 100% 100%;
    background-repeat: no-repeat;

    animation: banner 30s infinite;
}

@keyframes banner {

    6%,
    30% {
        background-image: url(./Assets/Portada4.png);
        opacity: 1;
    }

    31%,
    34% {
        opacity: 0.9;
    }

    35%,
    65% {
        background-image: url(./Assets/Portada5.png);
        opacity: 1;
    }

    66%,
    69% {
        opacity: 0.9;
    }

    70%,
    100% {
        background-image: url(./Assets/Portada6.png);
        opacity: 1;
    }

    0%,
    5% {
        opacity: 0.9;
    }
}

@media (min-width: 1000px) {
    .banner {
        height: 500px;
    }
}

@media (min-width: 31%) and (max-width: 70%) {
    .banner {
        height: 15rem;
    }
}

@media (min-width: 1px) and (max-width: 30%) {
    .banner {
        height: 5rem;
    }
}


.carousel-size {
    margin: auto;
    max-width: 90%;
    max-height: 700px;
    position: static;
}

.carousel-text {
    font-size: xx-large;
    text-shadow: 3px 3px black;
    text-align: auto;
    top: 30rem;

}

@media (min-width: 890px) and (max-width: 1100px) {
    .carousel-text {
        text-align: auto;
        top: 20rem;
    }

}

@media (min-width: 300px) and (max-width: 879px) {
    .carousel-text {
        font-size: 100%;
        text-align: center;
        top: 11rem;
    }

}


.menu-superior {
    font-size: 2rem;
    display: flex;
    flex-flow: wrap row;

    background: rgba(147, 5, 69, 0.341);
    border-color: greenyellow;
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;
    line-height: 50px;
}


.menu-inferior {
    font-size: 2rem;
    background: rgba(147, 5, 69, 0.341);
    border-color: rgb(249, 28, 161);
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;
    line-height:normal 50px;
}


@media (min-width: 993px) and (max-width: 1448px) {
    .menu-superior {
        font-size: 20px;
    }
}

a:link {
    text-decoration: none;
    color: whitesmoke;
}

a:visited {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: greenyellow;
}

.boton-buscar {
    color: greenyellow;
    background-color: rgb(65, 37, 65);
}



.card {
    background-color: rgb(45, 67, 67);
    margin: 20px;
    padding: 20px 10px 30px 10px;
    box-sizing: border-box;
    height: fit-content;
    overflow: auto;

}

.card-twitch {
    background-color: rgb(45, 67, 67);
    margin: 20px;
    padding: 40px;
    box-sizing: border-box;
    height: 50rem;
    overflow: auto;

}

.card__title {
    color: rgb(124, 255, 98)
}

.card__img {
    position: relative;
    border: rgb(75, 2, 107);
    max-width: 100%;

}

.card__videos {

    background-color: rgb(45, 67, 67);
    margin: 20px;
    padding: 20px 10px 30px 10px;
    box-sizing: border-box;
    height: fit-content;
    overflow: auto;
}

/*camino de migajas */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: rgb(98, 21, 81);
}

/* para ver los items listados lado a lado*/
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: rgb(248, 244, 244);
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

footer {
    width: 100%;
    margin-top: 50px;
    background-color: darkslategrey;
}

.buttons {
    min-width: 700px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #52314a;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

.buttons a:hover {
    transform: scale(1.2);
}

#twitch-embed {
    height: 500px;
    width: 900px;
    
}