$textoblanco: whitesmoke;
$hoverlinks: rgb(111, 181, 6);
$tituloarticulos: greenyellow;
$sombradebajo: 2px 2px 5px rgba(0, 0, 0, .5);
$paddingcards: 20px 10px 30px 10px;
$fuenteprincipal: 'Gemunu Libre', "ocr a";
