.card {
    background-color: rgb(45, 67, 67);
    margin: 20px;
    padding: $paddingcards;
    box-sizing: border-box;
    box-shadow: $sombradebajo;
    height: fit-content;
    overflow: auto;
    

    &__title {
        color: $tituloarticulos;
    }

    &__img {
        position: relative;
        border: rgb(75, 2, 107);
        max-width: 100%;

    }

    &__videos {

        background-color: rgb(45, 67, 67);
        margin: 10px;
        padding: $paddingcards;
        box-sizing: border-box;
        height: fit-content;
        overflow: auto;
    }
}

.card-twitch {
    background-color: rgb(45, 67, 67);
    box-shadow: $sombradebajo;
    margin: 20px;
    padding: 40px;
    box-sizing: border-box;
    height: 50rem;
    overflow: auto;

}