@mixin cajacards ($margin: 20px) {
    background-color: $fondocajas;
    margin: $margin;
    padding: $paddingcards;
    box-sizing: border-box;
    box-shadow: $sombradebajo;
    height: 100%;
    overflow: auto;
}
.card {
    @include cajacards (20px);
    

    &__title {
        color: $tituloarticulos;
    }

    &__img {
        position: relative;
        border: rgb(75, 2, 107);
        max-width: 100%;

    }

    &__videos {

        @include cajacards;
        margin: 20px;
        
    }
}

.card-twitch {
    @include cajacards(20px);
    height: 50rem;
}
.datoscard {
    list-style: none;
    display: inline;
}
.recomendado {
    font-size: x-large;
    color: rgb(8, 8, 130);
}

.norecomendado {
    font-size: x-large;
    color: rgb(149, 3, 3);
}

.video-responsive {
    overflow:hidden;
    padding-bottom:400px; /* Adecua este valor para controlar la altura del video */
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}