@mixin cajacards ($fondocajas, $margin: 20px) {
    background-color: $fondocajas;
    margin: $margin;
    padding: $paddingcards;
    box-sizing: border-box;
    box-shadow: $sombradebajo;
    height: fit-content;
    overflow: auto;
}
.card {
    @include cajacards;
    

    &__title {
        color: $tituloarticulos;
    }

    &__img {
        position: relative;
        border: rgb(75, 2, 107);
        max-width: 100%;

    }

    &__videos {

        @include cajacards;
        margin: 20px;
        
    }
}

.card-twitch {
    @include cajacards($margin);
    height: 50rem;
}
.datoscard {
    list-style: none;
    display: inline;
}
.recomendado {
    font-size: x-large;
    color: rgb(8, 8, 130);
}

.norecomendado {
    font-size: x-large;
    color: rgb(149, 3, 3);
}