footer {
    width: 100%;
    margin-top: 50px;
    background-color: darkslategrey;

    .footer {
        &-buttons {
            min-width: 100%;
            display: flex;
            justify-content: space-evenly;
            padding: 10px;

            a {
                text-decoration: none;
                font-size: 2rem;
                width: 4rem;
                height: 4rem;
                line-height: 4rem;
                text-align: center;
                background: #52314a;
                color: $textoblanco;
                border-radius: 50%;
                box-shadow: $sombradebajo;
                transition: all .4s ease-in-out;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}